body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffeed4;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: black;
  color: #ffeed4;
  font-family: 'Montserrat';
}
