body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffeed4;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: black;
  color: #ffeed4;
  font-family: 'Montserrat';
  font-size: 35px;
}

h1 {
  font-family: 'Kompot Display Demo';
  font-size: 25px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat';
  font-size: 23px;
}

p {
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 10px;
}

p:hover {
  opacity: 0.75;
}

h3 {
  font-family: 'Kompot Display Demo';
  font-size: 20px;
  text-align: center;
}

h5 {
  font-family: 'Montserrat';
  font-size: 12px;
  margin: 10px;
}

a {
  font-family: 'Montserrat';
  font-size: 12px;
  margin: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  margin: 20px;
}

.bookImage {
  height: 200px;
  object-fit: cover;
  padding: 10px;
}

.bookLink:hover {
  opacity: 0.75;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: black;
  color: #ffeed4;
  font-family: 'Montserrat';
  font-size: 35px;
  margin-top: 20px;
}
