body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffeed4;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: black;
  color: #ffeed4;
  font-family: 'Montserrat';
  font-size: 35px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 25px;
  text-align: center;
}

p {
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
}
